<div id="bg"></div>

<section id="landing">
    <button id="left-button" type="button" name="button" (click)="openLeft()">Go Left</button>
    <button id="right-button" type="button" name="button" (click)="openRight()">Go Right</button>
    <button id="bottom-button" type="button" name="button" (click)="openBottom()">Go Bottom</button>

</section>

<div id="dimmed-bg"></div>
<div id="dimmed-bg-right"></div>
<div id="dimmed-bg-bottom"></div>

<section id="left-site">

    <nav id="register-side-bar">
        <div id="empty-section"></div>
        <section id="visible-section">
          <button type="button" name="button" (click)="openCenterFromLeft()">Go Center</button>

          <button type="button" name="button" (click)="openRightFromLeft()">Go Right</button>

          <button type="button" name="button" (click)="openBottomFromLeft()">Go Bottom</button>

        </section>
    </nav>

    <section id="above-fold">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
                <li><a href="#">Enlace 4</a></li>
                <li><a href="#">Enlace 5</a></li>
            </ul>
        </nav>

        <article>
            <h1>Titulo de introduccion para los collages</h1>
            <p>Mucho texto Mucho texto Mucho texto Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  </p>
            <button type="button" name="button">Hago algo con este boton?</button>
        </article>
    </section>

    <app-posts postStyle="collage"></app-posts>

</section>

<section id="right-site">
  <aside id="register-side-bar-right">
    <section id="visible-section">

      <button type="button" name="button" (click)="openCenterFromRight()">Go Center</button>

      <button type="button" name="button" (click)="openLeftFromRight()">Go Right</button>

      <button type="button" name="button" (click)="openBottomFromRight()">Go Bottom</button>

    </section>
    <div id="empty-section"></div>
</aside>

  <section id="above-fold-right">
      <nav>
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Enlace 2</a></li>
              <li><a href="#">Enlace 3</a></li>
              <li><a href="#">Enlace 4</a></li>
              <li><a href="#">Enlace 5</a></li>
          </ul>
      </nav>

      <article>
          <h1>Titulo de introduccion para los dibujos</h1>
          <p>Mucho texto Mucho texto Mucho texto Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  </p>
          <button type="button" name="button">Hago algo con este boton?</button>
      </article>
  </section>

  <app-posts postStyle="drawing"></app-posts>

</section>

<section id="bottom-site">
  <aside id="register-side-bar-bottom">
    <section id="visible-section">
      <button type="button" name="button" (click)="openLeftFromBottom()">Go Left</button>

      <button type="button" name="button" (click)="openCenterFromBottom()">Go Center</button>

      <button type="button" name="button" (click)="openRightFromBottom()">Go Right</button>

    </section>
</aside>

  <section id="above-fold-bottom">
      <nav>
          <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Enlace 2</a></li>
              <li><a href="#">Enlace 3</a></li>
              <li><a href="#">Enlace 4</a></li>
              <li><a href="#">Enlace 5</a></li>
          </ul>
      </nav>

      <article>
          <h1>Titulo de introduccion para los dibujos</h1>
          <p>Mucho texto Mucho texto Mucho texto Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  Mucho texto  </p>
      </article>
  </section>

  <app-posts postStyle="drawing"></app-posts>

</section>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="script.js" type="text/javascript"></script>
